<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Movimiento cdps</h1>
    <%= link_to 'New movimiento cdp', new_movimiento_cdp_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="movimiento_cdps" class="min-w-full">
    <%= render @movimiento_cdps %>
  </div>
</div>
