<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editar Movimiento</h1>

  <%= render "form", cdp_movement: @cdp_movement %>

  <%= link_to "Ver movimiento", @cdp_movement, class: "ml-2 rounded-lg py-3 px-5 bg-naranja inline-block font-medium" %>
  <%= link_to "Volver", cdp_movements_path, class: "ml-2 rounded-lg py-3 px-5 bg-naranja inline-block font-medium" %>
</div>
