<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing rp movement</h1>

  <%= render "form", rp_movement: @rp_movement %>

  <%= link_to "Ver Moviento", @rp_movement, class: "ml-2 rounded-lg py-3 px-5 bg-naranja inline-block font-medium" %>
  <%= link_to "Volver", rp_movements_path, class: "ml-2 rounded-lg py-3 px-5 bg-naranja inline-block font-medium" %>
</div>
